/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

// Miryoku layer definitions
#define BASE     0
#define BUTTON   1
#define NAV      2
#define MOUSE    3
#define MEDIA    4
#define NUM      5
#define SYM      6
#define FUN      7

// Miryoku key positions for hold-tap triggers
#define HML_TRIGGER_POSITIONS 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 30 31 32 33 34 35
#define HMR_TRIGGER_POSITIONS 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32 33 34 35

// Miryoku clipboard (Linux defaults)
#define U_RDO &kp K_AGAIN
#define U_PST &kp LS(INS)
#define U_CPY &kp LC(INS)
#define U_CUT &kp LS(DEL)
#define U_UND &kp K_UNDO

// Miryoku mousekeys
#define U_BTN1 &mkp MB1
#define U_BTN2 &mkp MB2
#define U_BTN3 &mkp MB3
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT
#define U_MS_U &mmv MOVE_UP
#define U_WH_D &msc SCRL_DOWN
#define U_WH_L &msc SCRL_LEFT
#define U_WH_R &msc SCRL_RIGHT
#define U_WH_U &msc SCRL_UP

// Miryoku helper macros
#define U_NP &none
#define U_NA &none
#define U_NU &none
#define U_BOOT &bootloader

/ {
    behaviors {
        u_mt: miryoku_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
        u_lt: miryoku_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            bindings = <&mo>, <&kp>;
        };
        hml: home_row_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <HML_TRIGGER_POSITIONS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
        hmr: home_row_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <HMR_TRIGGER_POSITIONS>;
            hold-trigger-on-release;
            bindings = <&kp>, <&kp>;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
         &kp Q         &kp W         &kp E         &kp R         &kp T             &kp Y         &kp U         &kp I         &kp O         &kp P   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &hml LGUI A   &hml LALT S   &hml LCTRL D  &hml LSHFT F      &kp G             &kp H     &hmr LSHFT J  &hmr LCTRL K  &hmr LALT L   &hmr LGUI SQT
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &u_lt BUTTON Z &u_mt RALT X     &kp C         &kp V         &kp B             &kp N         &kp M       &kp COMMA  &u_mt RALT DOT &u_lt BUTTON SLASH
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &u_lt MEDIA ESC &u_lt NAV SPACE &u_lt MOUSE TAB    &u_lt SYM RET &u_lt NUM BSPC &u_lt FUN DEL
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };


        button_layer {
            display-name = "Button";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        U_UND         U_CUT         U_CPY         U_PST         U_RDO             U_RDO         U_PST         U_CPY         U_CUT         U_UND   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT       U_NU              U_NU        &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        U_UND         U_CUT         U_CPY         U_PST         U_RDO             U_RDO         U_PST         U_CPY         U_CUT         U_UND
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   U_BTN3        U_BTN1        U_BTN2            U_BTN2        U_BTN1        U_BTN3
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        nav_layer {
            display-name = "Nav";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       U_BOOT         &to BASE         U_NA          U_NA          U_NA             U_RDO         U_PST         U_CPY         U_CUT         U_UND   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT       U_NA            &kp LEFT      &kp DOWN       &kp UP      &kp RIGHT    &caps_word
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        U_NA        &kp RALT         &to NUM        &to NAV        U_NA            &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &kp INS
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    U_NA          U_NA          U_NA             &kp RET       &kp BSPC      &kp DEL
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        mouse_layer {
            display-name = "Mouse";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       U_BOOT         &to BASE         U_NA          U_NA          U_NA             U_RDO         U_PST         U_CPY         U_CUT         U_UND   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT       U_NA             U_MS_L        U_MS_D        U_MS_U        U_MS_R        U_NU
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        U_NA        &kp RALT         &to SYM       &to MOUSE       U_NA             U_WH_L        U_WH_D        U_WH_U        U_WH_R        U_NU
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    U_NA          U_NA          U_NA             U_BTN2        U_BTN1        U_BTN3
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        media_layer {
            display-name = "Media";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       U_BOOT         &to BASE         U_NA          U_NA          U_NA            &kp C_BRI_UP   &kp C_VOL_UP     U_NA          U_NA          U_NA   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT       U_NA           &kp C_PREV    &kp C_VOL_DN   &kp C_VOL_UP  &kp C_NEXT    &kp C_BRI_DN
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        U_NA        &kp RALT         &to FUN       &to MEDIA       U_NA           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &out OUT_TOG
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    U_NA          U_NA          U_NA           &kp C_STOP    &kp C_PP      &kp C_MUTE
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        num_layer {
            display-name = "Num";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp LBKT       &kp N7        &kp N8        &kp N9       &kp RBKT          U_NA         &to BASE         U_NA          U_NA         U_BOOT   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp SEMI       &kp N4        &kp N5        &kp N6      &kp EQUAL          U_NA        &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp GRAVE       &kp N1        &kp N2        &kp N3       &kp BSLH          U_NA         &to NUM        &to NAV       &kp RALT      U_NA
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &kp DOT       &kp N0       &kp MINUS          U_NA          U_NA          U_NA
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        sym_layer {
            display-name = "Sym";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC          U_NA         &to BASE         U_NA          U_NA         U_BOOT   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp COLON     &kp DLLR      &kp PRCNT     &kp CARET     &kp PLUS          U_NA        &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp TILDE     &kp EXCL       &kp AT       &kp HASH      &kp PIPE          U_NA         &to SYM       &to MOUSE     &kp RALT      U_NA
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &kp LPAR     &kp RPAR     &kp UNDER          U_NA          U_NA          U_NA
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        fun_layer {
            display-name = "Fun";
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       &kp F12        &kp F7        &kp F8        &kp F9       &kp PSCRN         U_NA         &to BASE         U_NA          U_NA         U_BOOT   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp F11        &kp F4        &kp F5        &kp F6       &kp SLCK          U_NA        &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &kp F10        &kp F1        &kp F2        &kp F3    &kp PAUSE_BREAK       U_NA         &to FUN       &to MEDIA     &kp RALT      U_NA
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &kp K_APP     &kp SPACE     &kp TAB            U_NA          U_NA          U_NA
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};